<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>
function executeQuery() {
    $.ajax({
        url: '/testapp/update',
        success: function(data) {
            // console.log(data[0]["fields"]["steps"]);
            // person = data[0]["fields"]["name"];
            // steps = data[0]["fields"]["steps"];
            // threshold = data[0]["fields"]["threshold"];
            // if (steps>=threshold) {
            //     var str = "hello " + person + "! you walked " + steps + " steps";
            //     $('#step').html(str);
            // } else {
            //     var str = "world " + person + "! you walked " + steps + " steps. you should walk " + threshold;
            //     $('#step').html(str);
            // }
            // setTimeout(executeQuery, 100);
        }
    });
}

$(document).ready(function() {
    console.log("here")
    setTimeout(executeQuery, 1000);
});
</script>

<div id="step">
<!-- {% if person.steps >= person.threshold %} -->
<!-- hello {{person.name}}! you walked {{person.steps}}
{%else%}
world {{person.name}}! you walked {{person.steps}}. you should walk {{person.threshold}}!
{% endif %} -->
</div>
